.BookList ul {
  list-style: none;
  padding-left: 0;
}

.BookList li {
  padding: 15px 10px;
  background: var(--wenge);
  color: var(--honeydew);
}
.BookList li:not(:first-child) {
  margin-top: 10px;
}
